.import-export-studio {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f9f9f9;
}

.studio-button {
    background: linear-gradient(to right, #4caf50, #549757);
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.toggle-definition-button:hover {
    background: linear-gradient(to right, #45a049, #2d9231);
}

.operation {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.definition {
    margin-bottom: 10px;
}

.data-source textarea {
    width: 100%;
    height: 50%;
}